In this notebook, I have tried to use two methods, **Content Based Filtering and Collaborative Filtering**, to build a recommender system for movies.<br>
In these methods, from two csv files, one of which is related to the movies and the genre of those movies, and the other is the points given by **imdb** site users to these movies.

# Import libraries

We need pandas and numpy libreries for this notbook.

In [1]:
import pandas as pd
import numpy as np

# Insert data

In [2]:
#Get path of files csv we have 
path_movies ='movies-i.csv'
path_ratings ='ratings.csv'

#Sorting data into a pandas datafram with read_csv
Movies =pd.read_csv(path_movies)
Ratings =pd.read_csv(path_ratings)

See **Head** of csv file for learning more about data.

In [3]:
Movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
Ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

# Preprocessing

In this step, we perform data recognition and pre-processing operations for two data frames.<br>
First, we will see the operations required for the Moives dataframe, and then the Rationgs dataframe.

**We know our Movies dataframe better.**

I tried to get more information about this data frame and its data by using the following commands in order.
Then I will clean the data and if there is a problem in the data, I will clean it one by one.

In [5]:
Movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [6]:
Movies.describe(include ='all')

              movieId        title genres
count     9742.000000         9742   9742
unique            NaN         9737    951
top               NaN  Emma (1996)  Drama
freq              NaN            2   1053
mean     42200.353623          NaN    NaN
std      52160.494854          NaN    NaN
min          1.000000          NaN    NaN
25%       3248.250000          NaN    NaN
50%       7300.000000          NaN    NaN
75%      76232.000000          NaN    NaN
max     193609.000000          NaN    NaN

In [7]:
Movies.value_counts()

movieId  title                                                  genres
1        Toy Story (1995)                                       Adventure|Animation|Children|Comedy|Fantasy    1
53322    Ocean's Thirteen (2007)                                Crime|Thriller                                 1
53129    Mr. Brooks (2007)                                      Crime|Drama|Thriller                           1
53138    Librarian: Return to King Solomon's Mines, The (2006)  Action|Adventure|Fantasy                       1
53140    Librarian: Quest for the Spear, The (2004)             Action|Adventure|Comedy|Fantasy|Romance        1
                                                                                                              ..
4390     Rape Me (Baise-moi) (2000)                             Crime|Drama|Thriller                           1
4392     Alice (1990)                                           Comedy|Drama|Fantasy|Romance                   1
4393     Another Woman (1988)                                   Drama                                          1
4394     Beach Blanket Bingo (1965)                             Comedy|Musical                                 1
193609   Andrew Dice Clay: Dice Rules (1991)                    Comedy                                         1
Length: 9742, dtype: int64

In [8]:
Movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [9]:
print(Movies.shape)
Movies.duplicated()
print(Movies.shape)

(9742, 3)
(9742, 3)

In this part, I start to separate and add and remove columns.<br>
Let's go together to better check the following codes that we wrote for preprocessing and see the result of each code

We add a new column named **year**.<br>
Due to the fact that the name of a movie may be repeated, but the year of its production is different, we started making this column.<br>
We separate the values of each row for this column from the **title**.<br>
This column is more effective at the end of the work and to provide more detailed information about the proposed film.

In [10]:
#We use regex to find the year and the parentheses around it in the title column.
Movies['year'] =Movies['title'].str.extract('(\(\d\d\d\d\))',expand =False)

#In the year column we created, we remove the parentheses around the year
Movies['year'] =Movies['year'].str.extract('(\d\d\d\d)',expand =False)

In [11]:
#We remove the year and the parentheses around it from the title column using the following method
Movies['title'] =Movies['title'].str.replace('(\(\d\d\d\d\))','')

#We use the separator for the title column, I will explain further
Movies['title'] =Movies['title'].apply(lambda x: x.strip())

C:\Users\admin\AppData\Local\Temp\ipykernel_12132\2175126837.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Movies['title'] =Movies['title'].str.replace('(\(\d\d\d\d\))','')

We do these things in order to access the genre information of each movie.<br>
The genre for each movie is separated using the delimiter **(|)**.<br>
We want to create a list of genres for each movie.<br>
We do this according to the following order.

In [12]:
#We want to have a list of genres of each movie, so...
Movies['genres']=Movies['genres'].str.split('|')

In [13]:
#We see the changes
Movies.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

In [14]:
Moviesgenres =Movies.copy()

We make the genre matrix and put the value 1 for each movie if it has that genre.<br>
The values that do not get are filled with NAN.
Using fillna, we fill the NAN values

In [15]:
for index, row in Movies.iterrows():
    for genre in row['genres']:
        Moviesgenres.at[index, genre] =1


Moviesgenres =Moviesgenres.fillna(0)
Moviesgenres.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now preprocessing for **Ratings dataframe**.

In [16]:
Ratings.value_counts()

userId  movieId  rating  timestamp
1       1        4.0     964982703     1
434     4993     5.0     1270604133    1
        4963     4.0     1270604560    1
        4896     2.5     1270604915    1
        4886     4.5     1270604658    1
                                      ..
227     58303    4.0     1447210409    1
        56782    4.5     1447210013    1
        56367    4.5     1447210824    1
        55820    4.0     1447209881    1
610     170875   3.0     1493846415    1
Length: 100836, dtype: int64

In [17]:
print(Ratings.shape)
Ratings.duplicated()
print(Ratings.shape)

(100836, 4)
(100836, 4)

In [18]:
Ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [19]:
Ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [20]:
Ratings.describe(include ='all')

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

We try to make the data frame quieter.<br>
The **timestamp** column will not be used in this lab, we will delete this column

In [21]:
Ratings.drop('timestamp',axis =1,inplace =True)
Ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

<hr>

<a id="ref1"></a>

# Content-Based

We use the **Content-Based recommendation system method** first and try to score the genres that the user likes the most and then find the genres closest to the user's favorite movies among the movies and recommend the movies to the user.

We create **userinput dataframe** related to videos and user ratings.

In [22]:
userinput =[
            {'title':'Rape Me', 'rating':4},
            {'title':'Toy Story', 'rating':2.5},
            {'title':'Pulp Fiction', 'rating':5},
            {'title':'Alice', 'rating':1.5},
            {'title':'Another Woman', 'rating':1},
            {'title':'Jumanji', 'rating':2},] 

inputMovies =pd.DataFrame(userinput)
inputMovies.head()

           title  rating
0        Rape Me     4.0
1      Toy Story     2.5
2   Pulp Fiction     5.0
3          Alice     1.5
4  Another Woman     1.0

In this section, we try to find the movieid of each movie that the user has voted for.
We try to use titles<br>
We can **find the same titles** in the two dataframes related to the movies voted by the user and the main data frame.<br>
The **result of this search will be a dataframe** that has the same titles as the user's data frame.<br>
We will try to join these two dataframes in order to have both the **ratings and the title** together, and then remove the extra columns of year and genres.

In [23]:
#Apply a filter to the Movies data frame to get the data frame that has the same titles as the user frame
Idsinput =Movies[Movies['title'].isin(inputMovies['title'].tolist())]

Idsinput

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
257,296,Pulp Fiction,"[Comedy, Crime, Drama, Thriller]",1994
3249,4392,Alice,"[Comedy, Drama, Fantasy, Romance]",1990
3250,4393,Another Woman,[Drama],1988
7211,72982,Alice,"[Action, Adventure, Fantasy]",2009

<br>

In [24]:
#Connecting two dataframes to have movieis and ratings together
inputMovies =pd.merge(Idsinput,inputMovies)

#Delete the columns we don't need
inputMovies =inputMovies.drop('genres', 1).drop('year', 1)
inputMovies.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_12132\525521223.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputMovies =inputMovies.drop('genres', 1).drop('year', 1)
C:\Users\admin\AppData\Local\Temp\ipykernel_12132\525521223.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputMovies =inputMovies.drop('genres', 1).drop('year', 1)

   movieId         title  rating
0        1     Toy Story     2.5
1        2       Jumanji     2.0
2      296  Pulp Fiction     5.0
3     4392         Alice     1.5
4    72982         Alice     1.5

<br>
<br>

In the same way as above, we do this for the genre matrix of each movie.

In [25]:
userMoviesG =Moviesgenres[Moviesgenres['movieId'].isin(inputMovies['movieId'].tolist())]

userMoviesG=userMoviesG.drop('title',1).drop('movieId',1).drop('year',1).drop('genres',1)
userMoviesG=userMoviesG.reset_index(drop=True)
userMoviesG

C:\Users\admin\AppData\Local\Temp\ipykernel_12132\972309676.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userMoviesG=userMoviesG.drop('title',1).drop('movieId',1).drop('year',1).drop('genres',1)
C:\Users\admin\AppData\Local\Temp\ipykernel_12132\972309676.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userMoviesG=userMoviesG.drop('title',1).drop('movieId',1).drop('year',1).drop('genres',1)
C:\Users\admin\AppData\Local\Temp\ipykernel_12132\972309676.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userMoviesG=userMoviesG.drop('title',1).drop('movieId',1).drop('year',1).drop('genres',1)
C:\Users\admin\AppData\Local\Temp\ipykernel_12132\972309676.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userMoviesG=userMoviesG.drop('title',1).drop('movieId',1).drop('year',1).drop('genres',1)

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

We get the value of each genre for the user.

In [26]:
UserProfile =userMoviesG.transpose().dot(inputMovies['rating'])
UserProfile

Adventure             5.5
Animation             2.5
Children              4.5
Comedy                9.0
Fantasy               7.0
Romance               1.5
Drama                 8.0
Action                1.0
Crime                 5.0
Thriller              5.0
Horror                0.0
Mystery               0.0
Sci-Fi                0.0
War                   0.0
Musical               0.0
Documentary           0.0
IMAX                  0.0
Western               0.0
Film-Noir             0.0
(no genres listed)    0.0
dtype: float64

We make the genre matrix more orderly.

In [27]:
Tablegenres =Moviesgenres.set_index(Moviesgenres['movieId'])

Tablegenres =Tablegenres.drop('title',1).drop('year',1).drop('movieId',1).drop('genres',1)
Tablegenres

C:\Users\admin\AppData\Local\Temp\ipykernel_12132\3174748344.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  Tablegenres =Tablegenres.drop('title',1).drop('year',1).drop('movieId',1).drop('genres',1)
C:\Users\admin\AppData\Local\Temp\ipykernel_12132\3174748344.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  Tablegenres =Tablegenres.drop('title',1).drop('year',1).drop('movieId',1).drop('genres',1)
C:\Users\admin\AppData\Local\Temp\ipykernel_12132\3174748344.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  Tablegenres =Tablegenres.drop('title',1).drop('year',1).drop('movieId',1).drop('genres',1)
C:\Users\admin\AppData\Local\Temp\ipykernel_12132\3174748344.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  Tablegenres =Tablegenres.drop('title',1).drop('year',1).drop('movieId',1).drop('genres',1)

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<br>
<hr>

Our main work has started and we want to measure the value of all the movies in the movie list.<br>
For this, we do the following.

In [28]:
recommendationTable =((Tablegenres*UserProfile).sum(axis=1))/(UserProfile.sum())
recommendationTable

movieId
1         0.581633
2         0.346939
3         0.214286
4         0.377551
5         0.183673
            ...
193581    0.397959
193583    0.377551
193585    0.163265
193587    0.071429
193609    0.183673
Length: 9742, dtype: float64

We sort the output series in descending order.

In [29]:
recommendationTable =recommendationTable.sort_values(ascending=False)
recommendationTable

movieId
134853    0.744898
117646    0.724490
6902      0.704082
148775    0.693878
81132     0.683673
            ...
134524    0.000000
5288      0.000000
3604      0.000000
134796    0.000000
27667     0.000000
Length: 9742, dtype: float64

Using **movieid**, we find the names and specifications of the first 10 movies that are most liked by the user and suggest them.

In [30]:
Movies.loc[Movies['movieId'].isin(recommendationTable.head(10).keys())]

,movieId,title,genres,year
1584,2123,All Dogs Go to Heaven,"[Animation, Children, Comedy, Drama, Fantasy]",1989
2250,2987,Who Framed Roger Rabbit?,"[Adventure, Animation, Children, Comedy, Crime...",1988
3460,4719,Osmosis Jones,"[Action, Animation, Comedy, Crime, Drama, Roma...",2001
4631,6902,Interstate 60,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",2002
5700,27790,Millions,"[Children, Comedy, Crime, Drama, Fantasy]",2004
5808,31921,"Seven-Per-Cent Solution, The","[Adventure, Comedy, Crime, Drama, Mystery, Thr...",1976
7441,81132,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",2010
8597,117646,Dragonheart 2: A New Beginning,"[Action, Adventure, Comedy, Drama, Fantasy, Th...",2000
8900,134853,Inside Out,"[Adventure, Animation, Children, Comedy, Drama...",2015
9169,148775,Wizards of Waverly Place: The Movie,"[Adventure, Children, Comedy, Drama, Fantasy, ...",2009

<br>
<br>
<hr>

# Collaborative Filtering

In the second part of the notebook, we want to build a recommender system using **collaborative filtering**.<br>
This model has two modes, we consider the user base mode and proceed with it.<br>
In this case, based on the similarity between users' interests, we try to suggest movies that the user has not seen.<br>
I liked the previous method more and I think that if we try to suggest the styles that the user likes, the user will be more likely to click on them.<br>
However, we are going to test this method on the data and see the result of this method and then research about it.

<br>

Like the previous method, we start from the beginning and perform the necessary operations on the data.<br>
We go step by step to see the output of this method.

# Import libraries

In [31]:
import pandas as pd
import numpy as np

# Insert data

In [32]:
path_movie ='movies-i.csv'
path_ratings ='Ratings.csv'

Movies =pd.read_csv(path_movie)
Ratings =pd.read_csv(path_ratings)

See **Head** of two dataframes

In [33]:
Movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [34]:
Ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

<br>

# Preprocessing

At this stage, we take a general look at the data frame and try to fix it if there is a problem in the data.<br>
And finally, we make each dataframe review more orderly and readable according to the model we want to go towards.

We do the same as the previous step in the beginning, but then the work is different.

In [35]:
Movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [36]:
Movies.describe(include ='all')

              movieId        title genres
count     9742.000000         9742   9742
unique            NaN         9737    951
top               NaN  Emma (1996)  Drama
freq              NaN            2   1053
mean     42200.353623          NaN    NaN
std      52160.494854          NaN    NaN
min          1.000000          NaN    NaN
25%       3248.250000          NaN    NaN
50%       7300.000000          NaN    NaN
75%      76232.000000          NaN    NaN
max     193609.000000          NaN    NaN

In [37]:
Movies.value_counts()

movieId  title                                                  genres
1        Toy Story (1995)                                       Adventure|Animation|Children|Comedy|Fantasy    1
53322    Ocean's Thirteen (2007)                                Crime|Thriller                                 1
53129    Mr. Brooks (2007)                                      Crime|Drama|Thriller                           1
53138    Librarian: Return to King Solomon's Mines, The (2006)  Action|Adventure|Fantasy                       1
53140    Librarian: Quest for the Spear, The (2004)             Action|Adventure|Comedy|Fantasy|Romance        1
                                                                                                              ..
4390     Rape Me (Baise-moi) (2000)                             Crime|Drama|Thriller                           1
4392     Alice (1990)                                           Comedy|Drama|Fantasy|Romance                   1
4393     Another Woman (1988)                                   Drama                                          1
4394     Beach Blanket Bingo (1965)                             Comedy|Musical                                 1
193609   Andrew Dice Clay: Dice Rules (1991)                    Comedy                                         1
Length: 9742, dtype: int64

In [38]:
Movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [39]:
print(Movies.shape)
Movies.duplicated()
print(Movies.shape)

(9742, 3)
(9742, 3)

In [40]:
#We use regex to find the year and the parentheses around it in the title column.
Movies['year'] =Movies['title'].str.extract('(\(\d\d\d\d\))',expand =False)

#In the year column we created, we remove the parentheses around the year
Movies['year'] =Movies['year'].str.extract('(\d\d\d\d)',expand =False)

In [41]:
#We remove the year and the parentheses around it from the title column using the following method
Movies['title'] =Movies['title'].str.replace('(\(\d\d\d\d\))','')

#We use the separator for the title column, I will explain further
Movies['title'] =Movies['title'].apply(lambda x: x.strip())

C:\Users\admin\AppData\Local\Temp\ipykernel_12132\2175126837.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Movies['title'] =Movies['title'].str.replace('(\(\d\d\d\d\))','')

In this model, we don't need a **genre** for the recommender system we want to provide.<br>
We delete this column from the movie dataframe.

In [42]:
Movies=Movies.drop('genres',axis=1)

In [43]:
#We see the changes in this data frame
Movies.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

<br>

We start checking the **Ratings dataframe**.

In [44]:
Ratings.value_counts()

userId  movieId  rating  timestamp
1       1        4.0     964982703     1
434     4993     5.0     1270604133    1
        4963     4.0     1270604560    1
        4896     2.5     1270604915    1
        4886     4.5     1270604658    1
                                      ..
227     58303    4.0     1447210409    1
        56782    4.5     1447210013    1
        56367    4.5     1447210824    1
        55820    4.0     1447209881    1
610     170875   3.0     1493846415    1
Length: 100836, dtype: int64

In [45]:
print(Ratings.shape)
Ratings.duplicated()
print(Ratings.shape)

(100836, 4)
(100836, 4)

In [46]:
Ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [47]:
Ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [48]:
Ratings.describe(include ='all')

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

As in the previous method, we do not need this column**(timestamp)** in this notebook and we delete it.<br>
Finally, we can see the final changes applied to this data frame.

In [49]:
Ratings.drop('timestamp',axis =1,inplace =True)
Ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

<br>
<br>
<hr>

# Collaborative Filtering

In this method, we first create the **user dataframe**.<br>
This data frame consists of the movies he has seen and the ratings he has done.

The initial stages are the same as those designed in the previous system.

In [50]:
userinput =[
            {'title':'Rape Me', 'rating':4},
            {'title':'Toy Story', 'rating':2.5},
            {'title':'Pulp Fiction', 'rating':5},
            {'title':'Alice', 'rating':1.5},
            {'title':'Another Woman', 'rating':1},
            {'title':'Jumanji', 'rating':2},
           ] 

inputMovies =pd.DataFrame(userinput)
inputMovies.head()

           title  rating
0        Rape Me     4.0
1      Toy Story     2.5
2   Pulp Fiction     5.0
3          Alice     1.5
4  Another Woman     1.0

In [51]:
#Apply a filter to the Movies data frame to get the data frame that has the same titles as the user frame
Idsinput =Movies[Movies['title'].isin(inputMovies['title'].tolist())]

Idsinput

      movieId          title  year
0           1      Toy Story  1995
1           2        Jumanji  1995
257       296   Pulp Fiction  1994
3249     4392          Alice  1990
3250     4393  Another Woman  1988
7211    72982          Alice  2009

In [52]:
#Connecting two dataframes to have movieis and ratings together
inputMovies =pd.merge(Idsinput,inputMovies)

#Delete the columns we don't need
inputMovies =inputMovies.drop('year', 1)
inputMovies.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_12132\4261390545.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputMovies =inputMovies.drop('year', 1)

   movieId         title  rating
0        1     Toy Story     2.5
1        2       Jumanji     2.0
2      296  Pulp Fiction     5.0
3     4392         Alice     1.5
4    72982         Alice     1.5

We separate the **userID** of the people who have seen the movies that the input user has seen.<br>
And we keep it in a new dataframe**(Subset)**.<br>
The number of shared videos may be the same or exactly the same as the number of videos of the input user.

In [53]:
Subset =Ratings[Ratings['movieId'].isin(inputMovies['movieId'].tolist())]
Subset.head()

     userId  movieId  rating
0         1        1     4.0
16        1      296     3.0
320       4      296     1.0
516       5        1     4.0
533       5      296     5.0

We group rows based on userid.<br>
By having a user ID, we can receive all the movies that the user has seen.

In [54]:
SubsetGroup =Subset.groupby('userId')
SubsetGroup

Now we sort these created groups based on the highest number of common movies.<br>
The person who has the most common movies with the incoming user will be seen first.

In [55]:
SubsetGroup =sorted(SubsetGroup,  key =lambda x: len(x[1]), reverse =True)
SubsetGroup

[(599,
         userId  movieId  rating
  92623     599        1     3.0
  92624     599        2     2.5
  92742     599      296     5.0
  93861     599     4392     2.5),
 (605,
         userId  movieId  rating
  97143     605        1     4.0
  97144     605        2     3.5
  97151     605      296     2.0
  97357     605    72982     4.0),
 (18,
        userId  movieId  rating
  1772      18        1     3.5
  1773      18        2     3.0
  1796      18      296     4.0),
 (21,
        userId  movieId  rating
  3219      21        1     3.5
  3220      21        2     3.5
  3231      21      296     3.5),
 (68,
         userId  movieId  rating
  10360      68        1     2.5
  10361      68        2     2.5
  10419      68      296     2.0),
 (91,
         userId  movieId  rating
  14121      91        1     4.0
  14122      91        2     3.0
  14173      91      296     4.5),
 (103,
         userId  movieId  rating
  15565     103        1     4.0
  15566     103        2     4.0
  15587     103      296     5.0),
 (107,
         userId  movieId  rating
  16970     107        1     4.0
  16971     107        2     5.0
  16992     107      296     3.0),
 (135,
         userId  movieId  rating
  20336     135        1     4.0
  20337     135        2     3.0
  20357     135      296     4.0),
 (140,
         userId  movieId  rating
  21083     140        1     3.0
  21084     140        2     3.5
  21119     140      296     4.0),
 (144,
         userId  movieId  rating
  21968     144        1     3.5
  21969     144        2     3.0
  21989     144      296     4.0),
 (153,
         userId  movieId  rating
  22425     153        1     2.0
  22426     153        2     2.0
  22429     153      296     3.0),
 (160,
         userId  movieId  rating
  23226     160        1     4.0
  23227     160        2     4.0
  23264     160      296     5.0),
 (177,
         userId  movieId  rating
  24900     177        1     5.0
  24901     177        2     3.5
  24930     177      296     5.0),
 (202,
         userId  movieId  rating
  29378     202        1     4.0
  29379     202        2     4.0
  29401     202      296     4.0),
 (217,
         userId  movieId  rating
  30885     217        1     4.0
  30886     217        2     2.0
  30932     217      296     2.0),
 (219,
         userId  movieId  rating
  31524     219        1     3.5
  31525     219        2     2.5
  31554     219      296     4.0),
 (226,
         userId  movieId  rating
  33044     226        1     3.5
  33045     226        2     3.0
  33083     226      296     4.5),
 (232,
         userId  movieId  rating
  33898     232        1     3.5
  33899     232        2     4.0
  33913     232      296     5.0),
 (240,
         userId  movieId  rating
  35580     240        1     5.0
  35581     240        2     5.0
  35631     240      296     2.0),
 (249,
         userId  movieId  rating
  36374     249        1     4.0
  36375     249        2     4.0
  36398     249      296     4.0),
 (274,
         userId  movieId  rating
  39229     274        1     4.0
  39230     274        2     3.5
  39288     274      296     5.0),
 (288,
         userId  movieId  rating
  42114     288        1     4.5
  42115     288        2     2.0
  42150     288      296     5.0),
 (298,
         userId  movieId  rating
  44535     298        1     2.0
  44536     298        2     0.5
  44555     298      296     4.5),
 (304,
         userId  movieId  rating
  45728     304        1     5.0
  45729     304        2     4.0
  45768     304      296     5.0),
 (307,
         userId  movieId  rating
  46733     307        1     4.0
  46734     307        2     2.5
  46790     307      296     4.5),
 (322,
         userId  movieId  rating
  49974     322        1     3.5
  49975     322        2     3.0
  49983     322      296     5.0),
 (323,
         userId  movieId  rating
  50081     323        1     3.5
  50082     323        2     4.0
  50112     323      296     4.0),
 (330,
         userId  movieId  rating
  50948     330        1     4.0
  50949     330        2     1.5
  50975     330      296     4.0),
 (353,
         userId  movieId  rating
  53492     353        1     5.0
  53493     353        2     4.0
  53547     353      296     5.0),
 (357,
         userId  movieId  rating
  54123     357        1     5.0
  54124     357        2     3.0
  54148     357      296     4.5),
 (359,
         userId  movieId  rating
  54547     359        1     4.0
  54548     359        2     3.5
  54553     359      296     4.0),
 (373,
         userId  movieId  rating
  56364     373        1     3.0
  56365     373        2     3.0
  56415     373      296     5.0),
 (380,
         userId  movieId  rating
  56878     380        1     5.0
  56879     380        2     5.0
  56920     380      296     5.0),
 (387,
         userId  movieId  rating
  59269     387      296     5.0
  59838     387     4392     3.5
  59839     387     4393     4.5),
 (411,
         userId  movieId  rating
  62009     411        1     5.0
  62010     411        2     4.0
  62071     411      296     5.0),
 (414,
         userId  movieId  rating
  62294     414        1     4.0
  62295     414        2     3.0
  62425     414      296     5.0),
 (432,
         userId  movieId  rating
  66798     432        1     2.5
  66799     432        2     4.0
  66814     432      296     2.5),
 (434,
         userId  movieId  rating
  67080     434        1     4.0
  67081     434        2     2.5
  67100     434      296     5.0),
 (448,
         userId  movieId  rating
  68655     448        1     5.0
  68656     448        2     3.0
  68694     448      296     5.0),
 (470,
         userId  movieId  rating
  72918     470        1     4.0
  72919     470        2     3.0
  72954     470      296     3.0),
 (474,
         userId  movieId  rating
  73092     474        1     4.0
  73093     474        2     3.0
  73172     474      296     4.0),
 (476,
         userId  movieId  rating
  75355     476        1     4.0
  75356     476        2     4.0
  75380     476      296     3.0),
 (477,
         userId  movieId  rating
  75424     477        1     4.0
  75425     477        2     4.0
  75447     477      296     4.5),
 (480,
         userId  movieId  rating
  76227     480        1     3.0
  76228     480        2     3.0
  76273     480      296     4.0),
 (483,
         userId  movieId  rating
  77222     483        1     4.0
  77223     483        2     4.0
  77265     483      296     5.0),
 (559,
         userId  movieId  rating
  85984     559        1     5.0
  85985     559        2     4.0
  86029     559      296     3.0),
 (561,
         userId  movieId  rating
  86582     561        1     4.0
  86583     561        2     4.0
  86601     561      296     4.5),
 (573,
         userId  movieId  rating
  88677     573        1     5.0
  88678     573        2     4.5
  88693     573      296     5.0),
 (590,
         userId  movieId  rating
  90517     590        1     4.0
  90518     590        2     2.5
  90546     590      296     4.5),
 (600,
         userId  movieId  rating
  95101     600        1     2.5
  95102     600        2     4.0
  95154     600      296     4.5),
 (604,
         userId  movieId  rating
  97043     604        1     3.0
  97044     604        2     5.0
  97103     604      296     5.0),
 (606,
         userId  movieId  rating
  97364     606        1     2.5
  97418     606      296     5.0
  97991     606     4392     3.0),
 (608,
         userId  movieId  rating
  98666     608        1     2.5
  98667     608        2     2.0
  98723     608      296     5.0),
 (1,
      userId  movieId  rating
  0        1        1     4.0
  16       1      296     3.0),
 (5,
       userId  movieId  rating
  516       5        1     4.0
  533       5      296     5.0),
 (6,
       userId  movieId  rating
  560       6        2     4.0
  692       6      296     2.0),
 (8,
        userId  movieId  rating
  1026       8        2     4.0
  1049       8      296     4.0),
 (15,
        userId  movieId  rating
  1434      15        1     2.5
  1442      15      296     4.0),
 (17,
        userId  movieId  rating
  1667      17        1     4.5
  1676      17      296     5.0),
 (19,
        userId  movieId  rating
  2274      19        1     4.0
  2275      19        2     3.0),
 (27,
        userId  movieId  rating
  4059      27        1     3.0
  4060      27        2     4.0),
 (32,
        userId  movieId  rating
  4929      32        1     3.0
  4961      32      296     5.0),
 (33,
        userId  movieId  rating
  5031      33        1     3.0
  5059      33      296     5.0),
 (40,
        userId  movieId  rating
  5555      40        1     5.0
  5608      40      296     5.0),
 (43,
        userId  movieId  rating
  6315      43        1     5.0
  6360      43      296     3.0),
 (45,
        userId  movieId  rating
  6477      45        1     4.0
  6511      45      296     5.0),
 (50,
        userId  movieId  rating
  7112      50        1     3.0
  7116      50      296     4.0),
 (54,
        userId  movieId  rating
  7931      54        1     3.0
  7943      54      296     3.0),
 (57,
        userId  movieId  rating
  8035      57        1     5.0
  8071      57      296     3.0),
 (62,
        userId  movieId  rating
  8791      62        2     4.0
  8797      62      296     4.5),
 (63,
        userId  movieId  rating
  9157      63        1     5.0
  9172      63      296     5.0),
 (64,
        userId  movieId  rating
  9428      64        1     4.0
  9466      64      296     4.5),
 (66,
         userId  movieId  rating
  9979       66        1     4.0
  10002      66      296     5.0),
 (76,
         userId  movieId  rating
  12264      76        1     0.5
  12271      76      296     4.5),
 (78,
         userId  movieId  rating
  12412      78        1     4.0
  12418      78      296     4.0),
 (82,
         userId  movieId  rating
  12730      82        1     2.5
  12731      82        2     3.0),
 (93,
         userId  movieId  rating
  14720      93        1     3.0
  14721      93        2     5.0),
 (94,
         userId  movieId  rating
  14817      94        2     4.0
  14844      94      296     4.0),
 (96,
         userId  movieId  rating
  15041      96        1     5.0
  15049      96      296     5.0),
 (112,
         userId  movieId  rating
  17904     112        1     3.0
  17905     112        2     1.5),
 (117,
         userId  movieId  rating
  18349     117        2     3.0
  18412     117      296     4.0),
 (119,
         userId  movieId  rating
  18536     119        1     3.5
  18542     119      296     4.0),
 (121,
         userId  movieId  rating
  18773     121        1     4.0
  18803     121      296     4.0),
 (122,
         userId  movieId  rating
  18831     122        2     4.0
  18845     122      296     5.0),
 (124,
         userId  movieId  rating
  19179     124        1     4.0
  19185     124      296     4.5),
 (125,
         userId  movieId  rating
  19229     125        2     4.0
  19235     125      296     4.5),
 (130,
         userId  movieId  rating
  19822     130        1     3.0
  19834     130      296     4.0),
 (132,
         userId  movieId  rating
  19919     132        1     2.0
  19946     132      296     4.0),
 (134,
         userId  movieId  rating
  20301     134        1     3.0
  20318     134      296     4.0),
 (137,
         userId  movieId  rating
  20726     137        1     4.0
  20733     137      296     3.0),
 (141,
         userId  movieId  rating
  21691     141        1     4.0
  21700     141      296     4.0),
 (145,
         userId  movieId  rating
  22096     145        1     5.0
  22106     145      296     4.0),
 (156,
         userId  movieId  rating
  22684     156        1     4.0
  22707     156      296     5.0),
 (159,
         userId  movieId  rating
  23129     159        1     4.5
  23135     159      296     0.5),
 (166,
         userId  movieId  rating
  23864     166        1     5.0
  23874     166      296     4.5),
 (167,
         userId  movieId  rating
  24054     167        1     3.5
  24065     167      296     3.0),
 (169,
         userId  movieId  rating
  24321     169        1     4.5
  24322     169        2     4.0),
 (171,
         userId  movieId  rating
  24640     171        1     5.0
  24654     171      296     5.0),
 (178,
         userId  movieId  rating
  25804     178        1     4.0
  25813     178      296     4.5),
 (179,
         userId  movieId  rating
  25881     179        1     4.0
  25909     179      296     4.0),
 (182,
         userId  movieId  rating
  26092     182        1     4.0
  26152     182      296     5.0),
 (186,
         userId  movieId  rating
  27307     186        1     4.0
  27308     186        2     4.0),
 (191,
         userId  movieId  rating
  27925     191        1     4.0
  27983     191      296     5.0),
 (193,
         userId  movieId  rating
  28032     193        1     2.0
  28034     193      296     4.0),
 (200,
         userId  movieId  rating
  28934     200        1     3.5
  28949     200      296     5.0),
 (201,
         userId  movieId  rating
  29268     201        1     5.0
  29283     201      296     5.0),
 (220,
         userId  movieId  rating
  32052     220        1     5.0
  32065     220      296     5.0),
 (221,
         userId  movieId  rating
  32259     221        2     3.5
  32271     221      296     5.0),
 (222,
         userId  movieId  rating
  32590     222        2     2.5
  32602     222      296     4.0),
 (223,
         userId  movieId  rating
  32840     223        1     3.5
  32845     223      296     3.0),
 (229,
         userId  movieId  rating
  33670     229        1     5.0
  33693     229      296     5.0),
 (233,
         userId  movieId  rating
  34760     233        1     3.0
  34765     233      296     4.0),
 (239,
         userId  movieId  rating
  35301     239        1     4.0
  35321     239      296     5.0),
 (247,
         userId  movieId  rating
  36173     247        1     5.0
  36182     247      296     4.0),
 (254,
         userId  movieId  rating
  37555     254        1     4.5
  37565     254      296     5.0),
 (263,
         userId  movieId  rating
  38236     263        1     4.0
  38251     263      296     3.0),
 (266,
         userId  movieId  rating
  38665     266        1     2.0
  38687     266      296     5.0),
 (273,
         userId  movieId  rating
  39174     273        1     5.0
  39192     273      296     4.0),
 (275,
         userId  movieId  rating
  40575     275        1     5.0
  40596     275      296     5.0),
 (276,
         userId  movieId  rating
  40978     276        1     4.0
  40979     276        2     4.0),
 (279,
         userId  movieId  rating
  41067     279        1     3.0
  41072     279      296     5.0),
 (282,
         userId  movieId  rating
  41460     282        1     4.5
  41472     282      296     4.0),
 (284,
         userId  movieId  rating
  41732     284        2     4.0
  41770     284      296     4.0),
 (290,
         userId  movieId  rating
  43193     290        1     4.0
  43209     290      296     5.0),
 (292,
         userId  movieId  rating
  43491     292        1     4.0
  43505     292      296     3.0),
 (294,
         userId  movieId  rating
  43958     294        2     3.0
  43990     294      296     4.0),
 (305,
         userId  movieId  rating
  45944     305        2     3.5
  45962     305      296     5.0),
 (314,
         userId  movieId  rating
  48581     314        1     3.0
  48632     314      296     1.0),
 (318,
         userId  movieId  rating
  48984     318        2     3.5
  49009     318      296     4.5),
 (328,
         userId  movieId  rating
  50670     328        1     5.0
  50681     328      296     5.0),
 (332,
         userId  movieId  rating
  51363     332        1     4.0
  51374     332      296     4.0),
 (334,
         userId  movieId  rating
  51655     334        1     3.5
  51662     334      296     4.0),
 (336,
         userId  movieId  rating
  51837     336        1     4.0
  51848     336      296     5.0),
 (339,
         userId  movieId  rating
  52009     339        1     4.0
  52016     339      296     2.5),
 (347,
         userId  movieId  rating
  52880     347        1     5.0
  52881     347        2     3.0),
 (372,
         userId  movieId  rating
  56128     372        1     3.0
  56180     372      296     4.0),
 (381,
         userId  movieId  rating
  58096     381        1     3.5
  58097     381        2     4.0),
 (382,
         userId  movieId  rating
  58570     382        1     4.5
  58577     382      296     5.0),
 (385,
         userId  movieId  rating
  58965     385        1     4.0
  59002     385      296     4.0),
 (391,
         userId  movieId  rating
  60405     391        1     3.0
  60430     391      296     5.0),
 (395,
         userId  movieId  rating
  60962     395        2     3.0
  60980     395      296     3.0),
 (399,
         userId  movieId  rating
  61120     399        1     4.0
  61123     399      296     5.0),
 (420,
         userId  movieId  rating
  65452     420        1     4.0
  65455     420      296     4.0),
 (425,
         userId  movieId  rating
  65884     425        2     3.0
  65914     425      296     4.0),
 (426,
         userId  movieId  rating
  66190     426        2     4.5
  66194     426      296     3.5),
 (436,
         userId  movieId  rating
  67355     436        1     4.0
  67356     436        2     4.0),
 (443,
         userId  movieId  rating
  68337     443        1     4.0
  68340     443      296     4.0),
 (446,
         userId  movieId  rating
  68493     446        2     3.0
  68531     446      296     4.0),
 (447,
         userId  movieId  rating
  68577     447        2     5.0
  68599     447      296     5.0),
 (453,
         userId  movieId  rating
  70844     453        1     5.0
  70865     453      296     5.0),
 (458,
         userId  movieId  rating
  71350     458        2     4.0
  71377     458      296     4.0),
 (462,
         userId  movieId  rating
  71544     462        1     1.5
  71563     462      296     2.5),
 (468,
         userId  movieId  rating
  72420     468        1     4.0
  72439     468      296     3.0),
 (469,
         userId  movieId  rating
  72453     469        1     4.0
  72478     469      296     5.0),
 (471,
         userId  movieId  rating
  72998     471        1     5.0
  72999     471      296     4.0),
 (484,
         userId  movieId  rating
  77950     484        1     4.5
  77951     484        2     2.5),
 (489,
         userId  movieId  rating
  78471     489        2     2.5
  78512     489      296     4.0),
 (490,
         userId  movieId  rating
  79119     490        1     3.5
  79124     490      296     4.0),
 (504,
         userId  movieId  rating
  80168     504        1     4.0
  80171     504      296     4.0),
 (509,
         userId  movieId  rating
  80373     509        1     4.0
  80387     509      296     3.5),
 (512,
         userId  movieId  rating
  81000     512        2     3.0
  81017     512      296     5.0),
 (514,
         userId  movieId  rating
  81082     514        1     4.0
  81096     514      296     4.0),
 (517,
         userId  movieId  rating
  81531     517        1     4.0
  81532     517        2     3.0),
 (522,
         userId  movieId  rating
  82207     522        1     3.0
  82216     522      296     5.0),
 (525,
         userId  movieId  rating
  82613     525        1     4.0
  82614     525        2     3.5),
 (528,
         userId  movieId  rating
  83338     528        1     2.5
  83341     528      296     4.0),
 (534,
         userId  movieId  rating
  83573     534        1     4.0
  83574     534        2     4.5),
 (555,
         userId  movieId  rating
  85291     555        1     4.0
  85325     555      296     4.0),
 (560,

In [56]:
print(len(SubsetGroup))

399

Since as we go down this sorted list, the number of people who share a movie with the user will decrease, so we try to select a limited number of the total number of people who have at least one movie in common.<br>
Then we design the desired system according to these people and data related to these people.

In [57]:
SubsetGroup =SubsetGroup[0:100]

<br>
<br>

Now we get the Pearson correlation.<br>
between the input user and a subgroup of users who have at least one video in common with the input user.<br>
You save this value in a dictionary.
The key of this dictionary is the number of each user and the correlation coefficient of its value.

In [58]:
import math
from scipy import stats
CorrelationDict ={}
for name, group in SubsetGroup:
    #We sort each group based on the movie ID
    group =group.sort_values(by='movieId')
    
    #We also do sorting work for incoming videos.
    inputMovies =inputMovies.sort_values(by='movieId')
    
    #Based on the shared IDs of each group with the input data user, 
    #we try to compare the ratings that each user has given to that video with the rating of that user and get the distance.
    temp =inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    
    tempRatingList =temp['rating'].tolist()
    
    tempGroupList =group['rating'].tolist()
    
    
    corr=stats.pearsonr(tempRatingList,tempGroupList)
    corr = [0 if math.isnan(x) else x for x in corr]
    
    if corr[0]!=0 :
        CorrelationDict[name] = corr[0]
    else:
        CorrelationDict[name]=0

E:\conda\lib\site-packages\scipy\stats\stats.py:4023: PearsonRConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(PearsonRConstantInputWarning())

In [59]:
CorrelationDict.items()

dict_items([(599, 0.9908301680442991), (605, -0.9345030284511886), (18, 0.9332565252573826), (21, 0), (68, -0.9878291611472618), (91, 0.8485552916276632), (103, 0.9878291611472618), (107, -0.9332565252573826), (135, 0.6286185570937121), (140, 0.7777137710478189), (144, 0.9332565252573826), (153, 0.9878291611472618), (160, 0.9878291611472618), (177, 0.6286185570937122), (202, 0), (217, -0.3592106040535498), (219, 0.8485552916276632), (226, 0.9843241382880894), (232, 0.8824975032927698), (240, -0.9878291611472622), (249, 0), (274, 0.9843241382880894), (288, 0.7419354838709677), (298, 0.9750002110024923), (304, 0.6286185570937121), (307, 0.7970167702187487), (322, 0.9962709627734359), (323, 0.35921060405354976), (330, 0.6286185570937122), (353, 0.6286185570937121), (357, 0.42341515917871025), (359, 0.6286185570937121), (373, 0.987829161147262), (380, 0), (387, 0.6758453353343745), (411, 0.6286185570937121), (414, 0.9332565252573826), (432, -0.6286185570937122), (434, 0.8858920666876039), (448, 0.6286185570937121), (470, -0.35921060405354976), (474, 0.6286185570937121), (476, -0.9878291611472618), (477, 0.9878291611472619), (480, 0.9878291611472618), (483, 0.9878291611472618), (559, -0.7777137710478189), (561, 0.9878291611472619), (573, 0.6286185570937121), (590, 0.7970167702187487), (600, 0.5728558035947257), (604, 0.35921060405354976), (606, 0.8910421112136307), (608, 1.0), (1, -1.0), (5, 1.0), (6, -1.0), (8, 0), (15, 1.0), (17, 1.0), (19, 1.0), (27, -1.0), (32, 1.0), (33, 1.0), (40, 0), (43, -1.0), (45, 1.0), (50, 1.0), (54, 0), (57, -1.0), (62, 1.0), (63, 0), (64, 1.0), (66, 1.0), (76, 1.0), (78, 0), (82, -1.0), (93, -1.0), (94, 0), (96, 0), (112, 1.0), (117, 1.0), (119, 1.0), (121, 0), (122, 1.0), (124, 1.0), (125, 1.0), (130, 1.0), (132, 1.0), (134, 1.0), (137, -1.0), (141, 0), (145, -1.0), (156, 1.0), (159, -1.0), (166, -1.0), (167, -1.0), (169, 1.0), (171, 0), (178, 1.0)])

From the similarity indices obtained above, we create the similarity index data frame.<br>
Then we sort this data frame in descending order.

In [60]:
pearsonDF =pd.DataFrame.from_dict(CorrelationDict, orient='index')
pearsonDF.columns =['similarityIndex']
pearsonDF['userId'] =pearsonDF.index
pearsonDF.index =range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.990830     599
1        -0.934503     605
2         0.933257      18
3         0.000000      21
4        -0.987829      68

In [61]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)
topUsers.head()

    similarityIndex  userId
99              1.0     178
73              1.0      66
55              1.0       5
58              1.0      15
59              1.0      17

Now we get ID and rating memo for each movie in topUsersRating data frame from Ratings data frame.<br>
(In other words, we merge these two data frames based on the common user ID that is entered in both data frames)<br>
We want to get every video that every user who was among the 100 selected users and close to the input user.

In [62]:
topUsersRating =topUsers.merge(Ratings, left_on ='userId', right_on ='userId', how ='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0              1.0     178        1     4.0
1              1.0     178       10     4.0
2              1.0     178       25     4.5
3              1.0     178       47     4.5
4              1.0     178       50     4.5

We determine the value of each movie that each user ID has seen according to the proximity of the user's taste.

In [63]:
topUsersRating['weightedRating'] =topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0              1.0     178        1     4.0             4.0
1              1.0     178       10     4.0             4.0
2              1.0     178       25     4.5             4.5
3              1.0     178       47     4.5             4.5
4              1.0     178       50     4.5             4.5

We group based on the movie ID and get the sum of the value of each value for that column group.<br>

In [64]:
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  34.148255          114.124637
2                  27.257213           77.961882
3                   9.631751           26.699377
4                   0.201474           -0.883479
5                   7.973322           19.766889

In this step, we get the weighted average for each movie.<br>
Now we have the collection of the value of each user's movie and we can show the most valuable movie to the user by sorting it so that she can choose it.

In [65]:
recommendation =pd.DataFrame()
recommendation['weighted average recommendation score'] =tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation['movieId'] =tempTopUsersRating.index
recommendation.head()

         weighted average recommendation score  movieId
movieId
1                                     3.342034        1
2                                     2.860229        2
3                                     2.772017        3
4                                    -4.385070        4
5                                     2.479128        5

In [66]:
recommendation =recommendation.sort_values(by='weighted average recommendation score', ascending=False)
recommendation.head(10)

         weighted average recommendation score  movieId
movieId
80860                               308.500000    80860
79                                  235.724104       79
57951                               193.000000    57951
61                                  166.079879       61
240                                 165.079879      240
270                                 165.079879      270
6686                                160.480866     6686
888                                 159.980866      888
93721                               118.500000    93721
460                                 111.053253      460

The movies that are suggested at the end of the system are suggested to the user based on the similarity between the users.

In [68]:
Movies =pd.read_csv(path_movie)

In [69]:
Movies.loc[Movies['movieId'].isin(recommendation.head(10)['movieId'].tolist())]

,movieId,title,genres
54,61,Eye for an Eye (1996),Drama|Thriller
71,79,"Juror, The (1996)",Drama|Thriller
206,240,Hideaway (1995),Thriller
232,270,Love Affair (1994),Drama|Romance
401,460,Getting Even with Dad (1994),Comedy
673,888,Land Before Time III: The Time of the Great Gi...,Adventure|Animation|Children|Musical
4513,6686,"Medallion, The (2003)",Action|Comedy|Crime|Fantasy
6680,57951,Fool's Gold (2008),Action|Adventure|Comedy|Romance
7432,80860,Life as We Know It (2010),Comedy|Romance
7850,93721,Jiro Dreams of Sushi (2011),Documentary

In [70]:
Movies.loc[Movies['movieId'].isin(Idsinput.head(10)['movieId'].tolist())]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
257,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
3249,4392,Alice (1990),Comedy|Drama|Fantasy|Romance
3250,4393,Another Woman (1988),Drama
7211,72982,Alice (2009),Action|Adventure|Fantasy

I will try to show you the efficiency of this system now.<br>
As you can see, the genres that most users have paid attention to and liked are less seen in this system.<br>
But again, it is not possible to say exactly which recommender system has a better performance.<br>
**Maybe it depends on the product and goods that we sell!**